.contenedor {
	width: 450px;
	border: 2px solid black;
}
.yellow {
	width: 25%;
	height: 100px;
	background-color: yellow;
	float: right;
}
.blue {
	width: 25%;
	height: 100px;
	background-color: blue;
	float: right;
}
.red {
	width:25%;
	height: 100px;
	background-color: red;
	float: right;
}